.buttons {
  text-align: center;
  display: flex;
  justify-content: center;
}
.buttons button {
  display: flex;
  align-items: center;
  margin: 25px;
  font-size: 1rem;
  background: none;
  border: none;
  color: #40b5cb;
  cursor: pointer;
}
